<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start" >
     </ion-buttons>
    <ion-title>TeLlevo<span>APP</span></ion-title>
  </ion-toolbar>
</ion-header>
    <ion-content>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input type="text"></ion-input>
      <ion-button color="warning" fill="outline" routerLink="/login" expand="block" (click)="mostrarAlerta()" class="large-button">Recuperar contraseña</ion-button>
      <ion-button color="warning" fill="outline" routerLink="/login" expand="block" class="large-button">Volver al inicio</ion-button>
    </ion-content>

