<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input [(ngModel)]="nombre" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Apellido</ion-label>
      <ion-input [(ngModel)]="apellido" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">RUT</ion-label>
      <ion-input [(ngModel)]="rut" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Correo Electrónico</ion-label>
      <ion-input [(ngModel)]="correo" type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Contraseña</ion-label>
      <ion-input [(ngModel)]="contrasena" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Verificación de Contraseña</ion-label>
      <ion-input [(ngModel)]="verificacion" type="password"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="full" (click)="registrar()">Registrarse</ion-button>
</ion-content>
